.shadow-2xl {
    box-shadow: 5px 10px 12px 0 rgba(0, 0, 0, 0.6);
}

::-webkit-scrollbar {
    width: 15px;

}

::-webkit-scrollbar-track {}

::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: black;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}

img {
    size: 100%;
}